@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body .preferences .m1, body .Service .line .m1, body .line1 form, body #formAlert .text {
  border: max(0.2vw, 0.2vh) solid #c4c7c8;
  border-radius: max(1vw, 1vh);
}

* {
  margin: 0;
  padding: 0;
}
* span {
  font-family: "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: max(0.2vw, 0.2vh) solid #c4c7c8;
  border-radius: max(1vw, 1vh);
  width: max(12vw, 12vh);
  background-color: rgba(151, 149, 149, 0.5019607843);
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.up:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.up a {
  font-size: max(3vw, 1.5vh);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

@media (max-width: 720px) {
  #burger:checked ~ .menu nav ul {
    width: 40%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #burger:checked ~ .menu nav ul li {
    display: inline-block;
  }
  #burger:checked ~ .menu nav ul li a {
    visibility: visible;
  }
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .LogoBox {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1%;
            flex: 1 1 1%;
    max-width: 28.5%;
  }
  header .LogoBox .logo {
    width: 100%;
  }
  header label[for=burger] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    visibility: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    margin-right: 5%;
    margin-top: -1%;
  }
  header label[for=burger] img {
    width: 100%;
    display: block;
  }
  header nav .spisok {
    background-color: #807676;
    border: max(0.2vw, 0.2vh) solid #c4c7c8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    position: absolute;
    right: 0;
  }
  header nav .spisok li {
    text-align: center;
    display: none;
    padding: 10% 2%;
  }
  header nav .spisok li a {
    font-size: 5vw;
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #807676;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header #burger {
  visibility: hidden;
}
header label {
  visibility: hidden;
}
header label img {
  display: none;
}
header nav {
  width: 100%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav ul li {
  color: white;
}
header nav ul li a {
  font-size: 2vw;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
header nav ul li a:hover {
  color: #E8BC69;
}
header nav ul li a.company {
  word-spacing: 0;
}
header .menu {
  width: 100%;
}
header .LogoBox {
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
header .LogoBox .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: max(5vw, 5vh);
  color: white;
  margin: 0 2% 0 2%;
}
header .LogoBox .name {
  margin: auto;
}
header .LogoBox .name p {
  font-size: max(2vw, 2vh);
  text-align: center;
  color: #C1C1C1;
  font-family: "Questrial", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-image: url(/img/backgr.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #343434;
  font-family: "Raleway", sans-serif;
}
body #formAlert {
  display: block;
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;
  visibility: hidden;
}
body #formAlert .text {
  background-color: rgba(79, 75, 75, 0.9098039216);
  width: 40%;
  margin: auto;
  color: white;
  padding: 1.5%;
}
body #formAlert.show {
  visibility: visible;
  -webkit-animation: fade_in 0.5s linear, fade_out 0.5s 5s linear;
          animation: fade_in 0.5s linear, fade_out 0.5s 5s linear;
}
@-webkit-keyframes fade_in {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 100px;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 100px;
  }
}
@-webkit-keyframes fade_out {
  from {
    opacity: 1;
    top: 100px;
  }
  to {
    opacity: 0;
    top: 0;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
    top: 100px;
  }
  to {
    opacity: 0;
    top: 0;
  }
}
body hr {
  margin: 10px auto 10px auto;
  width: 90%;
  border-color: #c4c7c8;
}
body .imgback {
  background: url("/img/imgforback.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 56.25vw;
}
body .line1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
body .line1 .box1 {
  border-radius: max(1vw, 1vh);
  max-width: 500px;
  padding: 0 5%;
}
body .line1 .box1 img {
  border-radius: max(1vw, 1vh);
  width: max(30vw, 30vh);
}
body .line1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(151, 149, 149, 0.5019607843);
  background-image: url("/img/2691.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 3%;
  color: white;
}
body .line1 form .name {
  font-size: max(2vw, 2.5vh);
  text-align: center;
  margin-bottom: 1.5%;
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw -0.05vw 0 black;
}
body .line1 form .fio, body .line1 form .tel, body .line1 form .com {
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw -0.05vw 0 black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .line1 form .fio label, body .line1 form .tel label, body .line1 form .com label {
  font-size: max(2vw, 2.5vh);
  margin-right: 5vw;
}
body .line1 form .fio input, body .line1 form .tel input, body .line1 form .com input {
  width: max(15vw, 20vh);
  height: max(2vw, 2.5vh);
  margin: 2% 0;
}
body .line1 form .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .line1 form .send input {
  background-color: #9BC0F9;
  border-radius: 15px;
  padding: 1% 2%;
  border: 0.2vw solid #008FDF;
  width: 50%;
  font-size: max(2vw, 2vh);
  -webkit-transition: border-color 0.4s, -webkit-transform 0.4s;
  transition: border-color 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, border-color 0.4s;
  transition: transform 0.4s, border-color 0.4s;
  transition: transform 0.4s, border-color 0.4s, -webkit-transform 0.4s;
}
body .line1 form .send input:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 0.2vw solid lightgrey;
}
body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 1.5% auto 1.5% auto;
  border: max(0.2vw, 0.2vh) solid #c4c7c8;
  background-color: rgba(151, 149, 149, 0.5019607843);
  border-radius: max(1vw, 1vh);
  color: white;
  padding: 1% 0;
  width: max(25vw, 25vh);
  font-size: max(2vw, 2vh);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .Service .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5% 0;
}
body .Service .line .m1, body .Service .line .m2 {
  width: 20%;
  height: 20%;
}
body .Service .line .m2 img {
  width: max(20vw, 9vh);
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .Service .line .m2 {
  margin-top: 1vh;
}
body .Service .line .m1 {
  cursor: pointer;
  padding: 0 1%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: rgba(151, 149, 149, 0.5019607843);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: border-color 0.4s, background-color 0.4s, -webkit-transform 0.4s;
  transition: border-color 0.4s, background-color 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, border-color 0.4s, background-color 0.4s;
  transition: transform 0.4s, border-color 0.4s, background-color 0.4s;
  transition: transform 0.4s, border-color 0.4s, background-color 0.4s, -webkit-transform 0.4s;
}
body .Service .line .m1:hover {
  background-color: #828080;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: max(0.2vw, 0.2vh) solid #E8BC69;
}
body .Service .line .m1:hover .more a {
  color: lightgrey;
}
body .Service .line .m1 .union .Category {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10vw;
  color: white;
}
body .Service .line .m1 .union .Category + p {
  font-size: max(2.5vw, 1.4vh);
  margin-bottom: 3%;
}
body .Service .line .m1 .more {
  text-align: right;
}
body .Service .line .m1 .more a {
  font-size: 2.5vw;
  text-decoration: none;
  color: rgba(151, 149, 149, 0.5019607843);
}
body .lineh1 {
  margin-top: -3%;
}
body .preferences {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .preferences .img {
  margin: 1% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .preferences .img img {
  width: max(32vw, 40vh);
}
body .preferences .m1 {
  justify-self: center;
  background-color: rgba(151, 149, 149, 0.5019607843);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .preferences .m1 .head {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: max(2.5vw, 2.5vh);
}
body .preferences .m1 .more {
  text-align: right;
}
body .preferences .m1 .more a {
  font-size: 2.5vw;
  text-decoration: none;
  color: rgba(151, 149, 149, 0.5019607843);
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
body .preferences .m1 .more a:hover {
  color: lightgrey;
}
body .preferences .m1 .fortext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .preferences .m1 .fortext .img {
  margin-right: 1%;
  margin-left: 1%;
  width: 5%;
}
body .preferences .m1 .fortext .text {
  font-size: max(1.5vw, 1.5vh);
  text-align: left;
  color: white;
}
body .Gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 2%;
  padding: 0 5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .Gallery .photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
body .Gallery .photo img {
  border: max(0.2vw, 0.3vh) solid grey;
  width: 100%;
  height: 90%;
}
body footer {
  margin-top: 0.15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #807676;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body footer .LogoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
}
body footer .LogoBox .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: max(5vw, 5vh);
  color: white;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
body footer .LogoBox .name {
  margin: auto;
}
body footer .LogoBox .name p {
  font-size: max(2vw, 2vh);
  text-align: center;
  color: #C1C1C1;
  font-family: "Questrial", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body footer .menu {
  width: 100%;
  text-align: center;
}
body footer .menu a {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
body footer .menu a img {
  width: max(5vw, 3vh);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
body footer .menu a:hover {
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}
body footer .menu a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
body footer .menu p {
  font-weight: 700;
  color: white;
  font-size: max(2vw, 1.5vh);
}
body footer .number {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body footer .number img {
  width: max(4vw, 3vh);
}
body footer .number a {
  color: white;
  font-size: max(3vw, 1vh);
  text-decoration: none;
}