$color_back: #343434;

$lightgrey:#979595;

$lightblue:#9BC0F9;

$blue:#008FDF;

$lightorange:#E8BC69;

$red:#e41e1e;

$orange:#FC6A19;

%borderstyles{
    border:max(0.2vw,0.2vh) solid #C4C7C8;
    border-radius: max(1vw,1vh);
}


@mixin globalparm{
    margin:0;
    padding:0;
}

@mixin headerforpage{
    display:flex;
    background-color: #807676;
    border:max(0.2vw,0.2vh) solid #C4C7C8;
    align-items: center;
    #burger{
        visibility: hidden;
    }
    label{
        visibility: hidden;
    }
    nav{
        width:100%;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                color: white;
                a {
                    font-size: 2vw;
                    color: white;
                    text-decoration: none;
                    &:hover {
                    color: $lightorange;
                    }
                    transition: color 0.4s;
                    &.company {
                        word-spacing: 0;
                    }
                }
            }
        }
        }
    .menu{
        width:100%;
    }
    .LogoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            display:flex;
            width:max(5vw,5vh);
            color:white;
            margin:0 2% 0 2%;
        }
        .name {
            p
            {
                text-shadow:0.1vw 0.1vw 0 black,
                        -0.1vw -0.1vw 0 black,
                        -0.1vw 0.1vw 0 black,
                        0.1vw -0.1vw 0 black;
                font-size:max(2vw,2vh);
                text-align:center;
                color:#C1C1C1;
                font-family: 'Questrial', sans-serif;
                user-select: none;
            }
            margin:auto;
        }
    }
}

@mixin footerforpage{
    margin-top:0.15%;
    display:flex;
    background-color: #807676;
    border:max(0.2vw,0.2vh) solid #C4C7C8;
    align-items: center;
    .LogoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:3%;
        .logo {
            display:flex;
            width:max(5vw,5vh);
            color:white;
            flex-shrink:1;
        }
        .name {
            p
            {
                font-size:max(2vw,2vh);
                text-align:center;
                color:#C1C1C1;
                font-family: 'Questrial', sans-serif;
                user-select: none;
                text-shadow:0.1vw 0.1vw 0 black,
                        -0.1vw -0.1vw 0 black,
                        -0.1vw 0.1vw 0 black,
                        0.1vw -0.1vw 0 black;
            }
            margin:auto;
        }
    }
    .menu{
        width:100%;
        text-align: center;
        a{
            img{
            width: max(5vw,3vh);
            transition: transform 0.2s;
            }
            transition: filter 0.2s;
            &:hover {
                filter: grayscale(0.3);
                img {
                    transform: scale(1.1);
                }
            }
        }
        p{
            font-weight:700;
            text-shadow:0.1vw 0.1vw 0 black,
                        -0.1vw -0.1vw 0 black,
                        -0.1vw 0.1vw 0 black,
                        0.1vw -0.1vw 0 black;
            color:white;
            font-size: max(2vw,1.5vh);
        }
        }
        .number{
            width:100%;
            display:flex;
            align-items: center;
            text-shadow:0.1vw 0.1vw 0 black,
                        -0.1vw -0.1vw 0 black,
                        -0.1vw 0.1vw 0 black,
                        0.1vw -0.1vw 0 black;
            img{
                width:max(4vw,3vh);
            }
            a{
                color:white;
                font-family:'Times New Roman', Times, serif;
                font-size: max(3vw,1vh);
                text-decoration: none;
            }
        }
}

@mixin forup{
    display:flex;
    justify-content: center;
    align-items: center;
    border:max(0.2vw,0.2vh) solid #C4C7C8;
    border-radius: max(1vw,1vh);
    width: 20%;
    background-color: $lightgrey;
    text-align: center;
    margin:auto;
    margin-top:2%;
    margin-bottom:3%;
    transition: transform 0.4s;
    &:hover{
        transform:scale(1.1);
    }
    a{
        font-size: max(3vw,1.5vh);
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        color:white;
        text-shadow:0.05vw 0.05vw 0 black,
                        -0.05vw -0.05vw 0 black,
                        -0.05vw 0.05vw 0 black,
                        0.05vw -0.05vw 0 black;
    }
}

@mixin formediacall{
    #burger:checked ~ .menu {
        nav {
            ul {
                width: 40%;
                visibility: visible;
                display: flex;
                flex-direction: column;
                li {
                    display: inline-block;
                    a {
                        visibility: visible;
                    }
                }
            }
        }
    }    
    header{
        flex-wrap: wrap;
        justify-content: space-between;
        .LogoBox{
            flex:1 1 1%;
            max-width: 28.5%;
            .logo{
                width:100%;
            }
        }
        label[for=burger]{
            flex: 0 0 1%;
            visibility: visible;
            user-select: none;
            font-size: 5vh;
            color:white;
            cursor:pointer;
            margin-right: 2%;
        }
        nav{
            .spisok{ 
                background-color: #807676;
                border:max(0.2vw,0.2vh) solid #C4C7C8;
                justify-content: center;
                visibility: hidden;
                position: absolute;
                right: 0;
                li {
                    text-align: center;
                    display: none;
                    padding:2%;
                    a{
                        font-size: 3vw;
                        visibility: hidden;
                        user-select: none;
                    }
                }
            }
        }
    }
}

@mixin forhr{
    margin:10px auto 10px auto;
    width:90%;
    border-color:#C4C7C8;
}

@mixin forh1{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    text-align: center;
    margin:1.5% auto 1.5% auto;
    border:max(0.2vw,0.2vh) solid #C4C7C8;
    background-color:$lightgrey;
    border-radius: max(1vw,1vh);
    color:white;
    padding:1% 0;
    width:max(25vw,25vh);
    font-size: max(2vw,2vh);
    user-select: none;
    text-shadow:0.05vw 0.05vw 0 black,
                    -0.05vw -0.05vw 0 black,
                    -0.05vw 0.05vw 0 black,
                    0.05vw -0.05vw 0 black;
}