@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "options";
*{
    @include globalparm;
    }
html{
    scroll-behavior: smooth;
}
.up{
    @include forup;
}
@media (max-width:720px){
    @include formediacall;
}
header{
    @include headerforpage;
}
body {
    
    background-image: url(/img/backgr.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size:cover;
    
    #formAlert {
        display: block;
        position: fixed;
        top: 100px;
        width: 100%;
        text-align: center;
        .text{
            @extend %borderstyles;
            background-color: $background_alert;
            width:40%;
            margin:auto;
            color:white;
            padding: 1.5%;
        }
        visibility: hidden;
    }

    #formAlert.show {
        visibility: visible;
        animation: fade_in 0.5s linear, fade_out 0.5s 5s linear;
    }

    @keyframes fade_in {
        from {
            opacity: 0;
            top: 0;
        }
        to {
            opacity: 1;
            top: 100px;
        }
    }

    @keyframes fade_out {
        from {
            opacity: 1;
            top: 100px;
        }
        to {
            opacity: 0;
            top: 0;
        }
    }

    
    background-color: $color_back;
    font-family: 'Raleway', sans-serif;
    hr{
        @include forhr;
    }
    .imgback {
        background:url("/img2/backcontact.jpg");
        background-position:center center;
        background-size:cover;
        width:100%;
        height:calc(70vw/16*9);
    }
    h1{
        @include forh1;
        &.head{
            width:30%;
            margin-top:-38%;
            margin-bottom:33.3%;
        }
    }
    .contact_info{
        width: 500px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
        @extend %borderstyles;
        margin-bottom:max(3vh,7vw);
        .text{
            width:96%;
            padding:1%;
            font-size:20px;
            text-align:left;
            color:white;
            span{
                font-family: 'Times New Roman', Times, serif;
                font-size:20px;
                color:white;
            }
            li{
                width:96%;
                list-style-position: inside;
                font-size:20px;
                text-align:left;
                color:white;
                span{
                    font-family: 'Times New Roman', Times, serif;
                    font-size:16px;
                    color:white;
                }
            }
        }
    }
    form{
        @extend %borderstyles;
        background-color: #D9D9D9;
        border-radius: 10px;
        width:max(80vw,45vh);
        margin:auto;
        margin-bottom: 3%;
        margin-top:3%;
        display:flex;
        justify-content: space-between;
        .left{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            .name{
                font-size:max(2vw,2vh);
                margin:0.7vw;
            }
            .comm{
                font-size:max(2vw,1.4vh);
                border-radius: 10px;
                height:max(10vw,10vh);
                padding:max(0.7vw,0.6vh);
                margin:5%;
                resize:none;
            }
        }
        .right{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:2%;
            .fio{
                font-size:max(2vw,1.4vh);
                padding:max(0.7vw,0.6vh);
                border-radius: max(0.5vw,0.5vh);
            }
            .phone{
                font-size:max(2vw,1.4vh);
                padding:max(0.7vw,0.6vh);
                border-radius: max(0.5vw,0.5vh);
            }
            .user{
                width:4vw;
                margin-bottom: -4%;
            }
            .phonepic{
                width:4vw;
                margin-bottom: -3.5%;
            }
            .send{
                font-size:max(2vw,1.4vh);
                padding:0.5vw;
                margin-top:2%;
                border-radius: 15px;
                width:45%;
                margin-left:30%;
                background-color: $orange;
                border:0.2vw solid black;
                color:white;
                transition: transform 0.4s,border-color 0.4s;
                &:hover{
                    border-color: white;
                    transform:scale(1.1);
                }
            }
        }
    }
    .map{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:2%;
        iframe{
            width:700px;
            height:400px;
        }
    }
    footer{
        @include footerforpage;
    }
}