@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "options";
*{
    @include globalparm;
    }
html{
    scroll-behavior: smooth;
}
.up{
    @include forup;
    width:17%;
}
@media (max-width:720px){
    @include formediacall;
}
header{
    @include headerforpage;
}
body {
    background-image: url(/img/backgr.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-color: $color_back;
    font-family: 'Raleway', sans-serif;
    hr{
        @include forhr;
    }
    .imgback {
        margin:3%;
        text-align: center;
        user-select: none;
        img{
            width:70%;
        }
    }
    h1{
        @include forh1;
    }
    h1.head{
        margin-top: 1.5%;
    }
    h1.head2{
        font-size: max(2.5vw,1.5vh);
        width:50%;
    }
    .cost{
        display:flex;
        color:white;
        .text{
            @extend %borderstyles;
            background-color: $lightgrey;
            width:75%;
            margin-left:2%;
            border-radius: 10px;
            font-size:max(2.5vw,1.25vh);
            padding:0.5%;
            padding-left: 3%;
        }
        .num{
            padding:0.5%;
            font-size:2.5vw;
            background-color: $lightorange;
            @extend %borderstyles;
            margin-left: -10%;
            border-radius: 10px;
            color:black;
        }
    }
    .info_about_category{
        margin: 1.5% auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
        @extend %borderstyles;
        color:white;
        .text{
            width:96%;
            padding:1%;
            font-size:max(2vw,2vh);
            text-align:left;
            ul{
                li{
                    font-size:max(2vw,2vh);
                    list-style-position: inside;
                }
            }
        }
    }
    footer{
        @include footerforpage;
    }
}