@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "options";
*{
    @include globalparm;
    }
html{
    scroll-behavior: smooth;
}
.up{
    @include forup;
}
@media (max-width:720px){
    @include formediacall;
}
header{
    @include headerforpage;
}
body {
    background-image: url(/img/backgr.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    #formAlert {
        display: block;
        position: fixed;
        top: 100px;
        width: 100%;
        text-align: center;
        .text{
            @extend %borderstyles;
            background-color: $background_alert;
            width:40%;
            margin:auto;
            color:white;
            padding: 1.5%;
        }
        visibility: hidden;
    }

    #formAlert.show {
        visibility: visible;
        animation: fade_in 0.5s linear, fade_out 0.5s 5s linear;
    }

    @keyframes fade_in {
        from {
            opacity: 0;
            top: 0;
        }
        to {
            opacity: 1;
            top: 100px;
        }
    }

    @keyframes fade_out {
        from {
            opacity: 1;
            top: 100px;
        }
        to {
            opacity: 0;
            top: 0;
        }
    }

    background-color: $color_back;
    font-family: 'Raleway', sans-serif;
    hr{
        @include forhr;
    }
    .imgback {
        background:url("/img/imgforback.jpg");
        background-position:center center;
        background-size:cover;
        width:100%;
        height:calc(100vw/16*9);
    }
    .line1{
        justify-content: center;
        margin-top: -18%;
        display:flex;
        flex-wrap: wrap-reverse;
        .box1 {
            border-radius: max(1vw,1vh);
            max-width: 500px;
            padding:0 5%;
            img {
                border-radius: max(1vw,1vh);
                width:max(30vw,30vh);
            }
        }
        form {
            display:flex;
            flex-direction: column;
            @extend %borderstyles;
            background-color: $lightgrey;
            background-image: url('/img/2691.jpg');
            background-position:center center;
            background-size:cover;
            justify-content: space-between;
            padding:1% 3%;
            color:white;
            .name{
                font-size:max(2vw,2.5vh);
                text-align: center;
                margin-bottom:1.5%;
                text-shadow:0.05vw 0.05vw 0 black,
                        -0.05vw -0.05vw 0 black,
                        -0.05vw 0.05vw 0 black,
                        0.05vw -0.05vw 0 black;
            }
            .fio,.tel,.com{
                text-shadow:0.05vw 0.05vw 0 black,
                        -0.05vw -0.05vw 0 black,
                        -0.05vw 0.05vw 0 black,
                        0.05vw -0.05vw 0 black;
                align-items: center;
                display:flex;
                justify-content: space-between;                
                label{
                    font-size:max(2vw,2.5vh);
                    margin-right:5vw;
                }
                input{
                    width:max(15vw,20vh);
                    height:max(2vw,2.5vh);
                    margin:2% 0;
                }
            }
            .send{
                display:flex;
                justify-content: center;
                input{
                    background-color: $lightblue;
                    border-radius: 15px;
                    padding:1% 2%;
                    border:0.2vw solid $blue;
                    width:50%;
                    font-size:max(2vw,2vh);
                    transition: transform 0.4s,border-color 0.4s;
                    &:hover{
                        transform: scale(1.1);
                        border:0.2vw solid lightgrey;
                    }
                }
            }
        }
    
    }
    h1{
        @include forh1;
    }
    .Service{
        .line {
            display:flex;
            flex-direction: row;
            align-items: stretch;
            align-content: stretch;
            justify-content: space-around;
            margin: 5% 0;
            .m1, .m2 {
                width:20%;
                height:20%;
            }
            .m2 img {
                width: max(20vw,9vh);
                height: auto;
                user-select: none;
            }
            .m2{
                margin-top:1vh;
            }
            .m1{
                cursor:pointer;
                padding:0 1%;
                align-self: stretch;
                background-color:$lightgrey;
                @extend %borderstyles;
                user-select: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:hover{
                    background-color: #828080;
                    transform: scale(1.1);
                    border:max(0.2vw,0.2vh) solid $lightorange; 
                    .more {
                        a{
                            color:lightgrey;
                        }
                    }
                }
                transition: transform 0.4s, border-color 0.4s, background-color 0.4s;
                .union{
                    .Category {
                        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-size:10vw;
                        color:white;
                        // text-shadow:0.1vw 0.1vw 0 black,
                        // -0.1vw -0.1vw 0 black,
                        // -0.1vw 0.1vw 0 black,
                        // 0.1vw -0.1vw 0 black;
                    }
                    .Category + p {
                        font-size: max(2.5vw,1.4vh);
                        margin-bottom:3%;
                    }
                }
                .more {
                    text-align: right;
                    a {
                        font-size: 2.5vw;
                        text-decoration: none;
                        color:$lightgrey;
                    }
                }
            }
        }
    }
    .lineh1{
        margin-top:-3%;
    }
    .preferences{
        margin: auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .img{
            margin: 1% 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width:max(32vw,40vh);
            }
        }
        .m1{
                justify-self: center;
                background-color:$lightgrey;
                @extend %borderstyles;
                user-select: none;
            .head{
                text-align:center;
                font-weight:700;
                color:white;
                font-size:max(2.5vw,2.5vh);
            }
            .more {
                text-align: right;
                a {
                    font-size: 2.5vw;
                    text-decoration: none;
                    color: #5F5757;
                    &:hover {
                        color: lightgrey;
                    }
                    transition: color 0.4s;
                }
            }
            .fortext{
                display:flex;
                align-items: center;
                .img {
                    margin-right: 1%;
                    margin-left: 1%;
                    width:5%;
                }
                .text {
                    font-size:max(1.5vw,1.5vh);
                    text-align:left;
                    color:white;
                }
            }  
        }
    }
.Gallery {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin:2%;
    padding: 0 5%;
    user-select: none;
    .photo{
        flex: 1 1 0;
        img{
            border: max(0.2vw,0.3vh) solid grey;
            width:100%;
            height:90%;
        }
    }
}
footer{
    @include footerforpage;
}
}