@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "options";
*{
    @include globalparm;
    }
html{
    scroll-behavior: smooth;
}
.up{
    @include forup;
}
@media (max-width:720px){
    @include formediacall;
}
header{
    @include headerforpage;
}
body {
    background-image: url(/img/backgr.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-color: $color_back;
    font-family: 'Raleway', sans-serif;
    hr{
        @include forhr;
    }
    h1{
        @include forh1;
    }
    .info1{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap-reverse;
        margin-left:1vh;
        img{
            flex:1 1 150px;
            margin-right:3vw;
            margin-top:1.5vh;
            margin-left:1.5vh;
            margin-bottom:1.5vh;
            width:45vw;
        }
        .text{
            margin-left:1vw;
            color:white;
            margin-right:3vw;
            flex:2 2 300px;
            .head{
                font-size:max(1.9vw,1.9vh);
                font-weight:700;
                margin-bottom: 0.5vw;
            }
            .information{
                font-size:max(1.5vw,1.5vh);
                ul{
                    li{
                        font-size:max(1.5vw,1.5vh);
                        list-style-position: inside
                    }
                }
            }
        }
    }
    .info2{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        img{
            flex:1 1 150px;
            margin-right:3vw;
            margin-top:1.5vh;
            margin-left:1.5vh;
            margin-bottom:1.5vh;
            width:45vw;
        }
        .text{
            flex:2 2 300px;
            color:white;
            margin-left:3vw;
            margin-right:1vw;
            .head{
                font-size:max(1.9vw,1.9vh);
                font-weight:700;
                margin-bottom: 0.5vw;
            }
            .information{
                font-size:max(1.5vw,1.5vh);
                ul{
                    li{
                        font-size:max(1.5vw,1.5vh);
                        list-style-position: inside;
                    }
                }
            }
        }
    }
    footer{
        @include footerforpage;
    }
}