@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "options";
*{
@include globalparm;
}
html{
    scroll-behavior: smooth;
}
.up{
    @include forup;
}
@media (max-width:720px){
    @include formediacall;
}
header{
    @include headerforpage;
}
body {

    background-image: url(/img/backgr.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-color: $color_back;
    font-family: 'Raleway', sans-serif;
    background-size:cover;
    hr{
        @include forhr
    }
    .imgback {
        background:url("/img/img_13.jpeg");
        background-position:center center;
        background-size:cover;
        width:100%;
        height:calc(80vw/16*9);
    }
    h1{
        @include forh1;
    }
    h1.head{
        margin-top:-10%;
        margin-bottom:1.5%;
    }
    h1.head2{
        width:max(40vw,40vh);
    }
    .info_about_school,.info_about_lessons{
        margin: auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $lightergrey;
        border-radius: 15px;
        border: max(0.2vw,0.2vh) solid $lightgrey;
        .text {
            width:96%;
            padding:1%;
            font-size:max(1.5vw,2vh);
            text-align:left;
            color:white;
        }
    }
    .info{
        margin: auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 50px;
        margin-bottom: 3vw;
        .text{
            color:white;
            width:96%;
            font-size:max(1.5vw,2vh);
            text-align:left;
        }
    }
footer{
        @include footerforpage;
    }
}