@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
margin:0;
padding: 0;
font-size:32px;
}
@media (max-width:720px){
    #burger:checked ~ .menu {
        nav {
            ul {
                width: 40%;
                visibility: visible;
                display: flex;
                flex-direction: column;
                li {
                    display: inline-block;
                    a {
                        visibility: visible;
                    }
                }
            }
        }
    }

    
    header{
        flex-wrap: wrap;
        justify-content: space-between;
        .LogoBox{
            flex:1 1 1%;
            max-width: 28.5%;
            .logo{
                width:100%;
            }
        }
        label[for=burger]{
            flex: 0 0 1%;
            visibility: visible;
            user-select: none;
            font-size: 50px;
            color:white;
            cursor:pointer;
            margin-right: 2%;
        }
        nav{
            .spisok{ 
                background-color: #807676;
                border:solid #C1C1C1 3px;
                justify-content: center;
                visibility: hidden;
                position: absolute;
                right: 0;
                li {
                    text-align: center;
                    display: none;
                    padding:2%;
                    a{
                        font-size: 3vw;
                        visibility: hidden;
                        user-select: none;
                    }
                }
            }
        }
    }
}
header{
    display:flex;
    background-color: #807676;
    border:solid #C1C1C1 3px;
    align-items: center;
    #burger{
        visibility: hidden;
    }
    label{
        visibility: hidden;
    }
    nav{
        width:100%;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                color: white;
                a {
                    font-size: 2vw;
                    color: white;
                    text-decoration: none;
                    &:hover {
                    color: #E8BC69;
                    }
                    transition: color 0.4s;
                    &.company {
                        word-spacing: 0;
                    }
                }
            }
        }
        }
    .menu{
        width:100%;
    }
    .LogoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            display:flex;
            width:5vw;
            color:white;
            margin:0 2% 0 2%;
        }
        .name {
            p
            {
                text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
                font-size:2vw;
                text-align:center;
                color:#C1C1C1;
                font-family: 'Questrial', sans-serif;
                user-select: none;
            }
            margin:auto;
        }
    }
}
body {
    background-color: #343434;
    font-family: 'Raleway', sans-serif;
    hr{
        margin:10px auto 10px auto;
        width:90%;
        border-color:#C4C7C8;
    }
    .imgback {
        background:url("/img/img_1.png");
        background-position:center center;
        background-size:cover;
        width:100%;
        height:calc(100vw/16*9);
    }
    .line1{
        justify-content: center;
        margin-top: -18%;
        display:flex;
        flex-wrap: wrap;
        .box1 {
            border-radius: 15px;
            max-width: 500px;
            padding:0 5%;
            img {
                border-radius: 15px;
                width:30vw;
            }
        }
        form {
            display:flex;
            flex-direction: column;
            border:3px solid #C4C7C8;
            border-radius: 15px;
            background-color: #979795;
            justify-content: space-between;
            padding:1% 3%;
            color:white;
            .name{
                text-align: center;
                font-size:2vw;
                margin-bottom:1.5%;
            }
            .fio,.tel,.com{
                align-items: center;
                display:flex;
                justify-content: space-between;                
                label{
                    font-size:1.5vw;
                    margin-right:0.3vw;
                }
                input{
                    width:15vw;
                    height:2vw;
                }
            }
            .send{
                display:flex;
                justify-content: center;
                button{
                    background-color: #9BC0F9;
                    border-radius: 15px;
                    padding:1% 2%;
                    border:0.2vw solid #008FDF;
                    width:50%;
                    font-size:2vw;
                    transition: transform 0.4s,outline 0.4s;
                    &:hover{
                        transform: scale(1.1);
                        outline:0.2vw solid #100FDF;

                    }
                }
            }
        }
    
    }
    h1{
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        text-align: center;
        margin:0 auto 1.5% auto;
        border:3.5px #C4C7C8 solid;
        background-color:#979595;
        border-radius: 50px;
        color:white;
        padding:1% 0;
        width:60%;
        font-size: 3vw;
        user-select: none;
        text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
    }
    .Service{
        .line {
            display:flex;
            flex-direction: row;
            align-items: stretch;
            align-content: stretch;
            justify-content: space-around;
            margin: 5% 0;
            .m1, .m2 {
                width:20%;
                height:20%;
            }
            .m2 img {
                width: 100%;
                height: auto;
                user-select: none;
            }
            .m2{
                margin-top:-5px;
            }
            .m1{
                align-self: stretch;
                background-color:#979595;
                border:2px solid #C4C7C8;
                border-radius:10px;
                user-select: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: transform 0.2s;
                &:hover{
                    outline:2px solid #E8BC69;
                    border:2px solid #828080;
                    background-color: #828080;
                    transform: scale(1.1);
                }
                .Category {
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size:10vw;
                    color:white;
                    text-shadow:2px 2px 0 black,
                    -2px -2px 0 black,
                    -2px 2px 0 black,
                    2px -2px 0 black;
                }
                .Category + p {
                    font-size: 2.5vw;
                    margin-bottom:3%;
                }
                .more {
                    text-align: right;
                    a {
                        font-size: 2.5vw;
                        text-decoration: none;
                        color: #5F5757;
                        &:hover {
                            color: lightgrey;
                        }
                        transition: color 0.4s;
                    }
                }
            }
        }
    }
    .lineh1{
        margin-top:-3%;
    }
    .preferences{
        margin: auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .img{
            margin: 1% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width:80%;
            }
        }
        .m1{
                justify-self: center;
                background-color:#979595;
                border:3px solid #C4C7C8;
                border-radius:10px;
                user-select: none;
            .head{
                text-align:center;
                font-weight:700;
                color:white;
            }
            .more {
                text-align: right;
                a {
                    font-size: 0.7em;
                    text-decoration: none;
                    color: #5F5757;
                    &:hover {
                        color: lightgrey;
                    }
                    transition: color 0.4s;
                }
            }
            .fortext{
                display:flex;
                align-items: center;
                img {
                    margin-right: 1%;
                    margin-left: 1%;
                }
                .text {
                    font-size:20px;
                    text-align:left;
                    color:white;
                }
            }  
        }
    }
.Gallery {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin:2%;
    padding: 0 5%;
    user-select: none;
    .photo{
        flex: 1 1 0;
        img{
            border: 3px solid gray;
            width:100%;
            height: 100%;
        }
    }
}
footer{
    margin-top:0.15%;
    display:flex;
    background-color: #807676;
    border:solid #C1C1C1 3px;
    align-items: center;
    .LogoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:3%;
        .logo {
            display:flex;
            width:5vw;
            color:white;
            flex-shrink:1;
        }
        .name {
            p
            {
                font-size:2vw;
                text-align:center;
                color:#C1C1C1;
                font-family: 'Questrial', sans-serif;
                user-select: none;
                text-shadow:1px 1px 0 black,
                -1px -1px 0 black,
                -1px 1px 0 black,
                1px -1px 0 black;
            }
            margin:auto;
        }
    }
    .menu{
        width:100%;
        text-align: center;
        a{
            img{
            width: 10%;
            transition: transform 0.2s;
            }
            transition: filter 0.2s;
            &:hover {
                filter: grayscale(0.3);
                img {
                    transform: scale(1.1);
                }
            }
        }
        p{
            font-weight:700;
            text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
            color:white;
            font-size: 2vw;
        }
        }
        .number{
            width:100%;
            display:flex;
            align-items: center;
            text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
            img{
                width:7%;
            }
            a{
                color:white;
                font-family:'Times New Roman', Times, serif;
                font-size: 2.5vw;
                text-decoration: none;
            }
        }
    }
}