@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
margin:0;
padding: 0;
font-size:32px;
}
@media (max-width:720px){
    #burger:checked ~ .menu {
        nav {
            ul {
                width: 40%;
                visibility: visible;
                display: flex;
                flex-direction: column;
                li {
                    display: inline-block;
                    a {
                        visibility: visible;
                    }
                }
            }
        }
    }

    
    header{
        flex-wrap: wrap;
        justify-content: space-between;
        .LogoBox{
            flex:1 1 1%;
            max-width: 28.5%;
            .logo{
                width:100%;
            }
        }
        label[for=burger]{
            flex: 0 0 1%;
            visibility: visible;
            user-select: none;
            font-size: 50px;
            color:white;
            cursor:pointer;
            margin-right: 2%;
        }
        nav{
            .spisok{ 
                background-color: #807676;
                border:solid #C1C1C1 3px;
                justify-content: center;
                visibility: hidden;
                position: absolute;
                right: 0;
                li {
                    text-align: center;
                    display: none;
                    padding:2%;
                    a{
                        font-size: 3vw;
                        visibility: hidden;
                        user-select: none;
                    }
                }
            }
        }
    }
}
header{
    display:flex;
    background-color: #807676;
    border:solid #C1C1C1 3px;
    align-items: center;
    #burger{
        visibility: hidden;
    }
    label{
        visibility: hidden;
    }
    nav{
        width:100%;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                color: white;
                a {
                    font-size: 2vw;
                    color: white;
                    text-decoration: none;
                    &:hover {
                    color: #E8BC69;
                    }
                    transition: color 0.4s;
                    &.company {
                        word-spacing: 0;
                    }
                }
            }
        }
        }
    .menu{
        width:100%;
    }
    .LogoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            display:flex;
            width:5vw;
            color:white;
            margin:0 2% 0 2%;
        }
        .name {
            p
            {
                text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
                font-size:2vw;
                text-align:center;
                color:#C1C1C1;
                font-family: 'Questrial', sans-serif;
                user-select: none;
            }
            margin:auto;
        }
    }
}
body {
    background-color: #343434;
    font-family: 'Raleway', sans-serif;
    hr{
        margin:10px auto 10px auto;
        width:90%;
        border-color:#C4C7C8;
    }
    .imgback {
        margin:3%;
        text-align: center;
        user-select: none;
        img{
            width:70%;
        }
    }
    h1{
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        text-align: center;
        margin:0 auto 1.5% auto;
        border:0.3vw #C4C7C8 solid;
        background-color:#979595;
        border-radius: 50px;
        color:white;
        padding:1% 0;
        width:60%;
        font-size: 3vw;
        user-select: none;
        text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
    }
    h1.head{
        margin-top: 1.5%;
    }
    h1.head2{
        font-size: 2.5vw;
    }
    .cost{
        display:flex;
        color:white;
        .text{
            border:2px solid #C4C7C8;
            background-color: #979595;
            width:75%;
            margin-left:2%;
            border-radius: 10px;
            font-size:2.5vw;
            padding:0.5%;
            padding-left: 3%;
        }
        .num{
            padding:0.5%;
            font-size:2.5vw;
            background-color: #E8BC69;
            border:2px solid #C4C7C8;
            margin-left: -10%;
            border-radius: 10px;
        }
    }
    .info_about_category{
        margin: 1.5% auto;
        width: 90%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
        border: 3px solid #C4C7C8;
        color:white;
        .text{
            width:96%;
            padding:1%;
            font-size:2vw;
            text-align:left;
            ul{
                li{
                    font-size:2vw;
                    margin-left:2.5%; 
                }
            }
        }
    }
    footer{
        margin-top:0.15%;
        display:flex;
        background-color: #807676;
        border:solid #C1C1C1 3px;
        align-items: center;
        .LogoBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left:3%;
            .logo {
                display:flex;
                width:5vw;
                color:white;
                flex-shrink:1;
            }
            .name {
                p
                {
                    font-size:2vw;
                    text-align:center;
                    color:#C1C1C1;
                    font-family: 'Questrial', sans-serif;
                    user-select: none;
                    text-shadow:1px 1px 0 black,
                    -1px -1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black;
                }
                margin:auto;
            }
        }
        .menu{
            width:100%;
            text-align: center;
            a{
                img{
                width: 10%;
                transition: transform 0.2s;
                }
                transition: filter 0.2s;
                &:hover {
                    filter: grayscale(0.3);
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            p{
                font-weight:700;
                text-shadow:1px 1px 0 black,
                        -1px -1px 0 black,
                        -1px 1px 0 black,
                        1px -1px 0 black;
                color:white;
                font-size: 2vw;
            }
            }
            .number{
                width:100%;
                display:flex;
                align-items: center;
                text-shadow:1px 1px 0 black,
                        -1px -1px 0 black,
                        -1px 1px 0 black,
                        1px -1px 0 black;
                img{
                    width:7%;
                }
                a{
                    color:white;
                    font-family:'Times New Roman', Times, serif;
                    font-size: 2.5vw;
                    text-decoration: none;
                }
            }
    }
}