@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 32px;
}

@media (max-width: 720px) {
  #burger:checked ~ .menu nav ul {
    width: 40%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #burger:checked ~ .menu nav ul li {
    display: inline-block;
  }
  #burger:checked ~ .menu nav ul li a {
    visibility: visible;
  }
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .LogoBox {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1%;
            flex: 1 1 1%;
    max-width: 28.5%;
  }
  header .LogoBox .logo {
    width: 100%;
  }
  header label[for=burger] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1%;
            flex: 0 0 1%;
    visibility: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 5vh;
    color: white;
    cursor: pointer;
    margin-right: 2%;
  }
  header nav .spisok {
    background-color: #807676;
    border: solid #C1C1C1 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    position: absolute;
    right: 0;
  }
  header nav .spisok li {
    text-align: center;
    display: none;
    padding: 2%;
  }
  header nav .spisok li a {
    font-size: 3vw;
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #807676;
  border: solid #C1C1C1 0.2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header #burger {
  visibility: hidden;
}
header label {
  visibility: hidden;
}
header nav {
  width: 100%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav ul li {
  color: white;
}
header nav ul li a {
  font-size: 2vw;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
header nav ul li a:hover {
  color: #E8BC69;
}
header nav ul li a.company {
  word-spacing: 0;
}
header .menu {
  width: 100%;
}
header .LogoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .LogoBox .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: max(5vw, 5vh);
  color: white;
  margin: 0 2% 0 2%;
}
header .LogoBox .name {
  margin: auto;
}
header .LogoBox .name p {
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw -0.05vw 0 black;
  font-size: max(2vw, 2vh);
  text-align: center;
  color: #C1C1C1;
  font-family: "Questrial", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #343434;
  font-family: "Raleway", sans-serif;
}
body hr {
  margin: max(3vh, 1.5vw) auto;
  width: 90%;
  border-color: #C4C7C8;
}
body .imgback {
  background: url("/img2/backcontact.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 36.5625vw;
}
body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 1.5% auto;
  border: max(0.3vw, 0.2vh) #C4C7C8 solid;
  background-color: #979595;
  border-radius: 50px;
  color: white;
  padding: 1% 0;
  width: 60%;
  font-size: max(2vw, 2vh);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0.1vw 0.1vw 0 black, -0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw -0.1vw 0 black;
  margin-top: -35%;
  margin-bottom: 1.5%;
  width: 35%;
}
body .contact_info {
  width: max(30vw, 30vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #D9D9D9;
  border-radius: 15px;
  border: max(0.2vw, 0.2vh) solid #C4C7C8;
  margin-bottom: max(3vh, 7vw);
}
body .contact_info .text {
  width: 96%;
  padding: 1%;
  font-size: max(1.3vw, 1.3vh);
  text-align: left;
}
body .contact_info .text li {
  width: 96%;
  list-style-position: inside;
  font-size: max(1.3vw, 1.3vh);
  text-align: left;
}
body .contact_info .text li span {
  font-family: "Times New Roman", Times, serif;
  font-size: max(1.3vw, 1.3vh);
}
body form {
  border: max(0.1vw, 0.1vh) solid #C4C7C8;
  background-color: #D9D9D9;
  border-radius: 10px;
  width: max(80vw, 45vh);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body form .left .name {
  font-size: max(2vw, 2vh);
  margin: 0.7vw;
}
body form .left .comm {
  font-size: max(2vw, 1.4vh);
  border-radius: 10px;
  height: max(10vw, 10vh);
  padding: max(0.7vw, 0.6vh);
  margin: 5%;
  resize: none;
}
body form .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2%;
}
body form .right .fio {
  font-size: max(2vw, 1.4vh);
  padding: max(0.7vw, 0.6vh);
  border-radius: max(0.5vw, 0.5vh);
}
body form .right .phone {
  font-size: max(2vw, 1.4vh);
  padding: max(0.7vw, 0.6vh);
  border-radius: max(0.5vw, 0.5vh);
}
body form .right .user {
  width: 4vw;
  margin-left: -14.5%;
  margin-bottom: -4%;
}
body form .right .phonepic {
  width: 4vw;
  margin-left: -14%;
  margin-bottom: -3.5%;
}
body form .right button {
  font-size: max(2vw, 1.4vh);
  padding: 0.5vw;
  border-radius: 15px;
  width: 45%;
  margin-left: 30%;
  background-color: #FC6A19;
  border: 2px solid black;
  color: white;
  -webkit-transition: border-color 0.4s, -webkit-transform 0.4s;
  transition: border-color 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, border-color 0.4s;
  transition: transform 0.4s, border-color 0.4s;
  transition: transform 0.4s, border-color 0.4s, -webkit-transform 0.4s;
}
body form .right button:hover {
  border-color: white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
body footer {
  margin-top: 0.15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #807676;
  border: solid #C1C1C1 0.2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body footer .LogoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
}
body footer .LogoBox .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: max(5vw, 5vh);
  color: white;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
body footer .LogoBox .name {
  margin: auto;
}
body footer .LogoBox .name p {
  font-size: max(2vw, 2vh);
  text-align: center;
  color: #C1C1C1;
  font-family: "Questrial", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0.1vw 0.1vw 0 black, -0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw -0.1vw 0 black;
}
body footer .menu {
  width: 100%;
  text-align: center;
}
body footer .menu a {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
body footer .menu a img {
  width: max(5vw, 3vh);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
body footer .menu a:hover {
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}
body footer .menu a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
body footer .menu p {
  font-weight: 700;
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw -0.05vw 0 black;
  color: white;
  font-size: max(2vw, 1.5vh);
}
body footer .number {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0.05vw 0.05vw 0 black, -0.05vw -0.05vw 0 black, -0.05vw 0.05vw 0 black, 0.05vw -0.05vw 0 black;
}
body footer .number img {
  width: max(4vw, 3vh);
}
body footer .number a {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: max(3vw, 1vh);
  text-decoration: none;
}